<body>
    <nav class="navbar navbar-expand-md na">
        <ul>

            <li>
                <a class="navbar-brand" [routerLink]="['/']">
                    <h3><span class="s">C</span><span class="a">O</span><span class="m">D</span><span class="s">I</span><span class="s">N</span><span class="s">I</span><img width="50px"></h3>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <div class="dropdown show">


                </div>
            </li>
        </ul>


    </nav>
</body>