<!-- Fawez TEKA
https://www.linkedin.com/in/fawez-teka/
https://github.com/TekaFawez
Copyright © Fawez TEKA . All rights reserved. -->

<app-navbar></app-navbar>

<section>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images1.jpg" class=" d-block w-100 " alt="... ">

            </div>
            <div class="carousel-item ">
                <img src="assets/images.jpg " class="d-block w-100 " alt="... ">

            </div>

        </div>
        <button class="carousel-control-prev " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="prev ">
              <span class="carousel-control-prev-icon " aria-hidden="true "></span>
              <span class="visually-hidden ">Previous</span>
            </button>
        <button class="carousel-control-next " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="next ">
              <span class="carousel-control-next-icon " aria-hidden="true "></span>
              <span class="visually-hidden ">Next</span>
            </button>
    </div>
</section>

<section>

    <div class="container" data-aos="fade-up">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/logo.jpg" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h1>Apprendre le développement web</h1>
                <p>Bienvenue dans l'Espace d'apprentissage de web. Cet ensemble d'articles a pour but de fournir aux développeurs web débutants tout ce dont ils ont besoin pour commencer à développer des sites web simples.</p>
                <p>Si vous débutez complètement, le développement web peut être un réel défi — notre but est de simplifier suffisamment le sujet pour que vous appreniez facilement, tout en vous fournissant assez de détails pour que vous soyez autonome. Vous
                    devriez vous sentir chez vous, que vous soyez un étudiant apprenant le développement web (de votre propre gré ou dans le cadre de vos études), un enseignant recherchant des supports de cours, un amateur ou quelqu'un qui souhaite simplement
                    comprendre la manière dont fonctionnent le Web et ses technologies.</p>
            </div>
        </div>

    </div>
</section>

<div class="bordure">
    <h4>Vous voulez devenir un développeur web front-end ?</h4>
    <p>Nous avons mis au point un cours qui comprend toutes les informations essentielles dont vous avez besoin pour atteindre votre objectif.</p>
    <p><a class="button primary" [routerLink]="['/cour']">Commencer</a></p>
</div>

<app-footer></app-footer>