<app-navbar></app-navbar>
<br>
<br>

<h1>
    Quel logiciel pour coder ?
</h1>
<br>
<br>
<div class="d">
    <p>
        Beaucoup pensent qu'il faut un logiciel spécial pour coder un site. Que non, un simple éditeur de texte, comme TextEdit ou Bloc-notes peut faire l'affaire.
    </p>
    <p>
        Coder se résume en une chose : taper des lignes de code sur un clavier dans un fichier. Pour cela, un simple éditeur de texte fait l'affaire :
    </p>
    <section style="text-align: center;"><img src="assets/téléchargement.png" width="700px " height="400"></section>
    <p>
        Seulement, un éditeur de texte n'interprête pas le code. C'est à dire qu'il est affiché en brut, noir sur blanc.<br> Il devient vite illisible et c'est pourquoi des logiciels existent pour faciliter la lecture.
    </p>
    <p>
        Voilà par exemple le même code ouvert avec <a href="https://www.sublimetext.com/3" target="_blank">SublimText 3</a>, qui est l'éditeur de code que j'utilise.
    </p>
    <section style="text-align: center;"><img src="assets/34.png" width="700px " height="400"></section>


    <p>
        Vous pouvez voir que le code est en couleur, et que celle-ci diffèrent pour vous faciliter la lecture.<br> Mais ça n'est pas le seul interêt de ce logiciel. Grâce à un plugin nommé Emmet, nous allons pouvoir coder beaucoup plus rapidement grace
        à pleins de raccourcis :
    </p>

    <h2>
        Comment installer SublimText 3 ?
    </h2>
    <p>
        Pour installer SublimText 3, il suffit d'aller sur cette page et de le télécharger : <a href="https://www.sublimetext.com/3" target="_blank">https://www.sublimetext.com/3</a>.
    </p>




    <p>
        Si il est installé .Vous êtes maintenant équipé pour coder en HTML CSS et JS!

        <button class="btn"><a [routerLink]="['/html']">Commencer</a></button>
    </p>
</div>
