<nav class="container d-flex align-items-center">
  <h1><a class="nav-link" [routerLink]="['/']">CODINI</a></h1>
  <div class="nav-menu d-none d-lg-block">
      <ul>
          <li class="active">
              <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li><a class="nav-link" [routerLink]="['/about']">About</a></li>

          <li><a class="nav-link" [routerLink]="['/cour']">Courses</a></li>
          <li><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>

      </ul>
  </div>
</nav>
